*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.wrap{
    width: 450px;
    background: transparent;
    color: white;
    border-radius: 12px;
    padding: 30px 40px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}
.wrap h1{
    text-align: center;
    font-size: 40px;
}
.wrap .input-box{
    margin: 30px;
    position: relative;
    height: 50px;
    width: 92%;
}
.input-box input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 40px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}
.input-box i{
    position: absolute;
    right: 20px;
    transform: translate(-50%);
    top: 30%;
    font-size: 20px;
}
.input-box input::placeholder{
    color: white;
}
.wrap .rem-forg{
display: flex;
justify-content: space-between;
font-size: 14.5px;
margin: -15px 0 15px;

}
.rem-forg label input{
    accent-color: white;
    margin-right: 33px;
}
.rem-forg a{
    color: black;
    text-decoration: none;
    transform: translateX(100px);
    

}

.rem-forg a:hover{
    text-decoration: underline;
}
.wrap .btn{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    position: relative;
    transform: translateY(90px);
    transform: translateX(-60px);

}
.wrap .reg-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;

}
.reg-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.reg-link p a:hoever{
    text-decoration: underline;

}